
.fl {
    float: left;
}
.fr {
    float: right;
}
.clr {
    clear: both;
}

body {background:#000 url(/img/Floor.jpg)}

body.game {
	background-image: url(/img/Floor.jpg);
}

.container {
    width: 100%;
    /*width:1400px;*/
    min-height: 500px;
}

.room-block {
    padding:10px;
    width: 900px;
    min-height: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.room-list {

}
.room-item {

}
.room-item .room-name {

}

.room-item .member-name {

}

#home {
    
}