
.fl {
    float: left;
}
.fr {
    float: right;
}
.clr {
    clear: both;
}

body.game {
	background-image: url(/img/Floor.jpg);
}

.container {
    width: 100%;
    /*width:1400px;*/
    min-height: 500px;
}

.status-block {
    margin:10px 0px;
    padding:10px;
}
#home {
    
}