<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Lihu</title>
		<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
		<link rel="stylesheet" type="text/css" href="/lib/bootstrap/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/css/app.css">
		<link rel="stylesheet" type="text/css" href="/lib/smoke.css">
	</head>
	<body>
		<div class="wrapper">	
			<div id='home'>
				<div id = 'game_block' class="row-fluid">
					

					<div id = 'game' class="well fl" >
						<div id="canvas"></div>

					        	<div style='width:100%; margin:auto; padding:auto;'>
					        		<div style='width:400px; padding:20px;margin-left: auto;margin-right: auto;text-align:center;'>
										<button id="btnHold" class="btn btn-primary">Hold</button>
										<button id="btnPrompt" class='btn btn-primary'>Prompt</button>
										<button id="btnPut" class='btn btn-primary'>Put</button>
                    <button id="btn_left_put" class="btn btn-primary">left put</button>
                    <button id="btn_right_put" class="btn btn-primary">right put</button>
                    <button id="btn_top_put" class="btn btn-primary">top put</button>
                      </div>
					        		<div id="count_down">
					        			<div id="putter_name"></div>
					        			<div id="count_down_num">100</div>
					        		</div>
					        	</div>
			       		</div><!-- End game -->
				       	<div id="nav_bar" class="nav-bar well fl" style=''>
				       		<div id="options" style="text-align:center">
				       			<h1 style='text-align:center;'>Room <span id = 'room_id'></h1>
				       			<div id="opt_playing">
							    	<div>
							    		<p>Current Putter:<span id='putter_name' ></span></p>
							    		<p>Current Level:<span id='cur_level'></span></p>
							                        <p>Your Level:<span id='your_level'></span></p>
					                            		<p>Lihu player:<span id='lihu_player'></span></p>
							    	</div>
							    	<p>
							    		<a href="help" class="btn btn-success" target="_blank">Help</a>
						                        	<button id="quit_btn" class='quit-btn btn btn-warning'>Quit</button>
						                    	</p>
					        		</div>

						        	<div id="opt_waiting">
							        	<p>waiting people to join the room.</p>
					                        	<p>
						                        	<button id="btnStart" class='btn btn-primary'>Start</button>
						                        	<a href="help" class="btn btn-success" target="_blank">Help</a>
						                        	<button id="quit_btn" class='quit-btn btn btn-warning'>Quit</button>
						                        </p>
						        	</div>
				       		</div>
				       		<div id="chat_msg_list" class="chat-msg-list">
				       			
				       		</div>
				       		<div class="chat-input-box form-inline">
				       			<input type="text" id="chat_text" name="chat_text" placeholder = "let's talk~	"/>
				       			<input type="button" id="btn_chat_text" value="Submit" class="btn-chat-text btn"/>
				       		</div>
				       	</div><!-- End nav bar -->
					<div class='clr'></div>
				</div>
			</div>
		</div>

		<div id="footer">
			<p>
				<a href="help" target="_blank">Help</a>
				Lihu @github: <a href="https://github.com/t-zhoma/lihu" target="_blank">https://github.com/t-zhoma/lihu</a>
			</p>
			<p>&copy; 2012 <span>J.M.S.Z</span></p>
		</div>
	</body>
	
	<script src="http://www.html5canvastutorials.com/libraries/kinetic-v4.0.0.js"></script>
    	
	<script type="text/javascript" src="lib/jquery.js"></script>
	<script src="lib/imgpreloader.js"></script>
	<script src="utility.js"></script>
	<script src="render.js"></script>
    	<script src="game.js"></script>
    	<script src="clientGame.js"></script>

<style>
      body {
        margin: 0px;
        padding: 0px;
      }
      canvas {
        border: 1px solid #9C9898;
      }
    </style>
	<script type="text/javascript">

            var stage ;
            var shapesLayer;
            var BUTTOM_ORIGIN_Y = 30;
            var source;

		function loadImages(sources, callback) {
		        var assetDir = 'http://localhost:8080/img/';
		        var images = {};
		        var loadedImages = 0;
		        var numImages = 0;
		        for(var src in sources) {
		          numImages++;
		        }
		        for(var src in sources) {
		          images[src] = new Image();
		          images[src].onload = function() {
		            if(++loadedImages >= numImages) {
		              callback(images);
		            }
		          };
		          images[src].src = assetDir + sources[src];
		        }
		      }

		 function initStage(images) {
        source = images;

        stage = new Kinetic.Stage({
          container: 'canvas',
          width: 980,
          height: 780
        });

        shapesLayer = new Kinetic.Layer();
        var messageLayer = new Kinetic.Layer();
        /*
        var cardback = new Kinetic.Image({
          image: images.back,
          x: 120,
          y: 50,
          width: Game.CARD_WIDTH,
          height:Game.CARD_HEIGHT
        });

        var cardbackh = new Kinetic.Image({
          image: images.backh,
          x: 280,
          y: 30,
          width:Game.CARD_HEIGHT,
          height:Game.CARD_WIDTH
        });

        var avatar = new Kinetic.Image({
          image: images.avatar,
          x: 380,
          y: 30,
          width: 50,
          height:50
        });

        var card = new Kinetic.Image({
          image: images.card,
          x: 380,
          y: 300,
          width: Game.CARD_WIDTH,
          height:Game.CARD_HEIGHT

        });
*/

        // left box
        var groupBox = new Kinetic.Group({
          x: 0,
          y: 150,
          id: 'leftBox'
        });
        var groupCardBox = new Kinetic.Group({
          x: 100,
          y: 10,
          id: 'handCardBox',
          name: 'handCardBox'
        });
        var groupAvatarBox = new Kinetic.Group({
          x: 0,
          y: 150,
          id: 'avatarBox',
          name: 'avatarBox'
        });

        var cardNum = 2;
        x = 20;
        y = (350 - (cardNum - 1) * Game.CARD_SPACE - Game.CARD_WIDTH )/2;
        // cards
        for (var i = 0 ; i < cardNum; i++) {
        	var card = new Kinetic.Image({
	          image: images.backh,
	          x: x,
	          y: y,
	          width:Game.CARD_HEIGHT,
	          height:Game.CARD_WIDTH
	        });
	         y = y + Game.CARD_SPACE;
	         groupCardBox.add(card);
        }	
        groupBox.add(groupCardBox);
        // avatar
        var avatar = new Kinetic.Image({
          image: images.avatar,
          x: 40,
          y: 0,
          width: 50,
          height:50
        });
        var name = new Kinetic.Text({
          x: 0,
          y: 60,
          width: 130,
          height:50,
          text: 'mcfnmcmc',
          fontSize: 12,
          fontFamily: 'Calibri',
          textFill: '#555',
          padding: 0,
          align: 'center'
        });

        var groupPutCardBox = new Kinetic.Group({
          x: 280,
          y: 160,
          id: 'putCardBox',
          name: 'putCardBox'
        });

        groupAvatarBox.add(avatar);
        groupAvatarBox.add(name);
        groupBox.add(groupAvatarBox);
        groupBox.add(groupPutCardBox);
        shapesLayer.add(groupBox);

        // right box
        var groupBox = new Kinetic.Group({
          x: 520,
          y: 150,
          id: 'rightBox'
        });
        var groupCardBox = new Kinetic.Group({
          x: 200,
          y: 10,
          id: 'handCardBox',
          name: 'handCardBox'
        });
        var groupAvatarBox = new Kinetic.Group({
          x: 310,
          y: 150,
          id: 'avatarBox',
          name: 'avatarBox'
        });

        cardsNum = 5;
        x = 20;
        var y = (350 - (cardsNum - 1) * Game.CARD_SPACE - Game.CARD_WIDTH )/2;
        
        // cards
        for (var i = 0 ; i < cardsNum; i++) {

        	var card = new Kinetic.Image({
	          image: images.backh,
	          x: x,
	          y: y,
	          width:Game.CARD_HEIGHT,
	          height:Game.CARD_WIDTH
	        });
	y = y + Game.CARD_SPACE;
	groupCardBox.add(card);
        }	
        groupBox.add(groupCardBox);
        // avatar
        var avatar = new Kinetic.Image({
          image: images.avatar,
          x: 50,
          y: 0,
          width: 50,
          height:50
        });
        var name = new Kinetic.Text({
          x: 0,
          y: 60,
          width: 150,
          height:50,
          text: 'mcfnmcmc',
          fontSize: 12,
          fontFamily: 'Calibri',
          textFill: '#555',
          padding: 0,
          align: 'center'
        });


        var groupPutCardBox = new Kinetic.Group({
          x: 100,
          y: 160,
          id: 'putCardBox',
          name: 'putCardBox'
        });

        groupAvatarBox.add(avatar);
        groupAvatarBox.add(name);
        groupBox.add(groupAvatarBox);
        groupBox.add(groupPutCardBox);
        shapesLayer.add(groupBox);

        // top box
        var groupBox = new Kinetic.Group({
          x: 260,
          y: 0,
          id: 'topBox'
        });
        var groupCardBox = new Kinetic.Group({
          x: 100,
          y: 10,
          id: 'handCardBox',
          name: 'handCardBox'
        });
        var groupAvatarBox = new Kinetic.Group({
          x: 0,
          y: 0,
          id: 'avatarBox',
          name: 'avatarBox'
        });

        cardsNum = 5;
        var x = (350 - (cardsNum - 1) * Game.CARD_SPACE - Game.CARD_WIDTH )/2;
        
        y = 30;
        // cards
        for (var i = 0 ; i < cardsNum; i++) {
          var card = new Kinetic.Image({
            image: images.back,
            x: x,
            y: y,
            width:Game.CARD_WIDTH,
            height:Game.CARD_HEIGHT
          });
  x = x + Game.CARD_SPACE;
  groupCardBox.add(card);
        } 
        groupBox.add(groupCardBox);
        // avatar
        var avatar = new Kinetic.Image({
          image: images.avatar,
          x: 30,
          y: 60,
          width: 50,
          height:50
        });
        var name = new Kinetic.Text({
          x: 0,
          y: 120,
          width: 110,
          height:50,
          text: 'mcfnmcmc',
          fontSize: 12,
          fontFamily: 'Calibri',
          textFill: '#555',
          padding: 0,
          align: 'center',
          id: 'name',
          name: 'name'
        });


        var groupPutCardBox = new Kinetic.Group({
          x: 150,
          y: 160,
          id: 'putCardBox',
          name: 'putCardBox'
        });


        groupAvatarBox.add(name);
        groupAvatarBox.add(avatar);
        groupBox.add(groupAvatarBox);
        groupBox.add(groupPutCardBox);
        shapesLayer.add(groupBox);



        // buttom box
        var groupBox = new Kinetic.Group({
          x: 260,
          y: 450,
          id: 'bottomBox'
        });
        var groupCardBox = new Kinetic.Group({
          x: 100,
          y: 10,
          id: 'cardBox',
          name: 'cardBox'
        });
        var groupAvatarBox = new Kinetic.Group({
          x: 0,
          y: 130,
          id: 'avatarBox',
          name: 'avatarBox'
        });

        cardsNum = 5;
        var x = (350 - (cardsNum - 1) * Game.CARD_SPACE - Game.CARD_WIDTH )/2;
        
        y = 160;
        BUTTOM_ORIGIN_Y = y;

        

        // cards
        for (var i = 0 ; i < cardsNum; i++) {
          var card = new Kinetic.Image({
            image: images.card,
            x: x,
            y: y,
            width:Game.CARD_WIDTH,
            height:Game.CARD_HEIGHT
          });
          card.selected = false;
          card.isPut = false;

          card.on('click' , function() {
            var newY ;
            if ( this.selected === false ) {
              newY = BUTTOM_ORIGIN_Y - Game.CARD_EXTEND;
              this.selected = true;
            } else {
              newY = BUTTOM_ORIGIN_Y;
              this.selected = false;
            }
            this.transitionTo({
                y: newY,
                duration: 0.2,
                easing: 'strong-ease-out'
            });

          });
          x = x + Game.CARD_SPACE;
          groupCardBox.add(card);
        } 
        groupBox.add(groupCardBox);
        // avatar
        var avatar = new Kinetic.Image({
          image: images.avatar,
          x: 30,
          y: 60,
          width: 50,
          height:50,
          id: 'avatar',
          name: 'avartar'
        });
        var name = new Kinetic.Text({
          x: 0,
          y: 120,
          width: 110,
          height:50,
          text: 'mcfnmcmc',
          fontSize: 12,
          fontFamily: 'Calibri',
          textFill: '#555',
          padding: 0,
          align: 'center',
          id: 'name',
          name: 'name'
        });

        groupAvatarBox.add(name);
        groupAvatarBox.add(avatar);
        groupBox.add(groupAvatarBox);
        shapesLayer.add(groupBox);

        stage.add(shapesLayer);
        stage.add(messageLayer);
      }

      window.onload = function() {
        var sources = {
          back: 'back-blue-75-1.png',
          backh: 'back-blue-h-75-1.png',
          card: 'clubs-2-75.png',
          avatar: 'gravatar-user.png'
         };
        loadImages(sources, initStage);
      };


      $(function(){
        $('#btnPut').click(function(){
          var seatBox = stage.get('#bottomBox')[0];
          var cardBox = seatBox.get('.cardBox')[0];
          var cards = cardBox.getChildren();
          var selectCards = [];
          var handCards = [];

          for( var i in cards ) {
            if ( cards[i].isPut === true ) {
              cards[i].hide();
              cardBox.remove(cards[i]); // remove putted cards
            }
          }
          for( var i in cards ) {
            if ( cards[i].isPut === true ) {
              continue;
            } else {
              if ( cards[i].selected === true  ) {
                selectCards.push( cards[i] );
              } else {
                handCards.push( cards[i] );
              }
            }
            
          }

          // put animation
          if ( selectCards.length > 0 ) {
            var putW = ( selectCards.length - 1 ) * Game.CARD_SPACE + Game.CARD_WIDTH;
            var sX = ( 300 - putW )/2;
            for( var i in selectCards ) {
              var card = selectCards[i];
              card.off('click');
              card.transitionTo({
                x: sX,
                y:  BUTTOM_ORIGIN_Y - Game.CARD_EXTEND - 10 - Game.CARD_HEIGHT,
                duration: 0.5,
                easing: 'strong-ease-out'
              });
              card.isPut = true;
              sX += Game.CARD_SPACE;
            }
          }
          
          // fold animation
          if ( handCards.length > 0 ) {
            var putW = ( handCards.length - 1 ) * Game.CARD_SPACE + Game.CARD_WIDTH;
            var sX = ( 300 - putW )/2;
            for( var i in handCards ) {
              var card = handCards[i];
              card.transitionTo({
                x: sX,
                y: card.getY(),
                duration: 0.5,
                easing: 'strong-ease-out'
              });
              sX += Game.CARD_SPACE;
            }
          }

        });
      });
  
      $('#btn_top_put').click(function() {
        var cardsNum = 2;

        var seatBox = stage.get('#topBox')[0];
        var handCardBox = seatBox.get('.handCardBox')[0];
        var putCardBox = seatBox.get('.putCardBox')[0];
        putCardBox.removeChildren();
        putCardBox.setX(0);
        putCardBox.setY(150);

        // hold
        var message = new Kinetic.Text({
          x: 200,
          y: 10,
          width: 100,
          height:50,
          text: 'Hold',
          fontSize: 30,
          fontFamily: 'Calibri',
          textFill: 'red',
          padding: 0,
          align: 'center',
          id: 'message',
          name: 'message'
        });
        putCardBox.add( message );

        /*
        

        var sX = (500 - (cardsNum - 1) * Game.CARD_SPACE - Game.CARD_WIDTH )/2 ;

        for (var i = 0 ; i < cardsNum ; i++) {
          var card = new Kinetic.Image({
              image: source.card,
              x: sX,
              y: 0,
              width:Game.CARD_WIDTH,
              height:Game.CARD_HEIGHT
          });
          sX += Game.CARD_SPACE;
          putCardBox.add( card );
        }
        */
        shapesLayer.draw();
        putCardBox.transitionTo({
                y: putCardBox.getY() + 10 ,
                duration: 1,
                easing: 'strong-ease-out'
              });

      });

      $('#btn_left_put').click(function() {
        var cardsNum = 6;
        
        var seatBox = stage.get('#leftBox')[0];
        var handCardBox = seatBox.get('.handCardBox')[0];
        var putCardBox = seatBox.get('.putCardBox')[0];
        putCardBox.removeChildren();
        putCardBox.setX(210);
        putCardBox.setY(160);

        // hold
        var message = new Kinetic.Text({
          x: 0,
          y: 20,
          width: 100,
          height:50,
          text: 'Hold',
          fontSize: 30,
          fontFamily: 'Calibri',
          textFill: 'red',
          padding: 0,
          align: 'center',
          id: 'message',
          name: 'message'
        });
        putCardBox.add( message );

        /*
        var sX = 0;

        for (var i = 0 ; i < cardsNum ; i++) {
          var card = new Kinetic.Image({
              image: source.card,
              x: sX,
              y: 0,
              width:Game.CARD_WIDTH,
              height:Game.CARD_HEIGHT
          });
          sX += Game.CARD_SPACE;
          putCardBox.add( card );
        }
        */
        shapesLayer.draw();
        putCardBox.transitionTo({
                x: putCardBox.getX() + 30 ,
                duration: 1,
                easing: 'strong-ease-out'
              });

      });

      $('#btn_right_put').click(function() {
        var cardsNum = 6;

        var seatBox = stage.get('#rightBox')[0];
        var handCardBox = seatBox.get('.handCardBox')[0];
        var putCardBox = seatBox.get('.putCardBox')[0];
        putCardBox.removeChildren();
        putCardBox.setX(240 - (cardsNum -1)*Game.CARD_SPACE - Game.CARD_WIDTH );
        putCardBox.setY(160);

        // hold
        var message = new Kinetic.Text({
          x: 60,
          y: 20,
          width: 100,
          height:50,
          text: 'Hold',
          fontSize: 30,
          fontFamily: 'Calibri',
          textFill: 'red',
          padding: 0,
          align: 'center',
          id: 'message',
          name: 'message'
        });
        putCardBox.add( message );

        /*
        var sX = 0;

        for (var i = 0 ; i < cardsNum ; i++) {
          var card = new Kinetic.Image({
              image: source.card,
              x: sX,
              y: 0,
              width:Game.CARD_WIDTH,
              height:Game.CARD_HEIGHT
          });
          sX += Game.CARD_SPACE;
          putCardBox.add( card );
        }
        
        */
        shapesLayer.draw();
        putCardBox.transitionTo({
                x: putCardBox.getX() - 30 ,
                duration: 1,
                easing: 'strong-ease-out'
              });
      });


	</script>
	
</html>
